$debug: true;
$debugNoticia:false;
$debugSeccion: false;
$debugMenu: true;
$tamanoFuenteTitulo:20px;
$tamanoFuenteNormal:18px;

$primary-color: rgb(4, 4, 165);
$color-masclaro:lighten($primary-color,10%);
$color-claro:lighten($primary-color,5%);
$color-oscuro:darken($primary-color,10%) ;
$color-masoscuro:darken($primary-color,20%);

$tamanoFuenteTitulo--Noticia:26px;
$tamanoFuenteContenido:14px;
$tamanoFuenteEnlace:14px;
$fontFamily:sans-serif;