.menu{
    @if ($debugMenu==true) {
        border: 1px solid green;
    } 
    display:flex;
    flex-direction: row;
 //   font-size: 17px;
}
.menu__item{
     height: 30px;
    text-align: center;
    padding: 14px 16px;
    font-size: 13px;
    font-weight:bold;
    color:white;
    height: 30px;
    &--oscuro{
        color:#bdbdbd;  
    }
    &--derecha{
        margin-left:auto ;
    }
}