.seccion--oscura {
    background-color: rgb(243, 240, 240);
    height: 900px;
}

.seccion__titulo {
    text-align: center;
    font-size: 50px;
    padding: 50px;
}

.seccion__pie {
    text-align: center;
}

.seccion__contenido {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 906px;
}