.seccion {
    @if ($debugSeccion==true) {
        border: 2px solid red;
    }
    height: 950px; 

}
@media (max-width:700px){
    .seccion{
        height: 900px;
    }
}
.seccion--oscura {
    background-color: #e9e9e9;
 //    height: 950px;
}

.seccion--clara {
    background-color: white;
    height: 750px;
    // height: 900px;
}

.seccion--corporativa {
    background-color: #004481;
    color: white;
    // height: 900px;
}

.seccion__titulo {
    @if ($debug==true) {
        border: 1px solid green;
    }
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    padding: 50px;
}
@media (max-width:700px){
     .seccion__titulo {
        @if ($debug==true) {
            border: 1px solid green;
        }
        text-align: center;
        font-size: 1.5rem;
        font-family: sans-serif; 
        padding: 5px; 
   }

}

.seccion__pie {
    @if ($debug==true) {
        border: 1px solid green;
    }
    margin-top: 120px;
    text-align: center;
    height: 100px;
}

.seccion__contenido {
    @if ($debug==true) {
        border: 1px solid green;
    }
    //     margin-left: auto;
    //    margin-right: auto;
 //   margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    // width: 80%;
}
@media (max-width:700px){
    .seccion--movil-padding-xs{
        padding: 5px;
    }
    .seccion__contenido {
        margin-bottom: 0px;
        margin-left:auto;
        margin-right: auto ;   
        width: auto;  
    }
  
}
