.seccion {
    @if ($debugSeccion==true) {
        border: 2px solid red;
    }
}

.seccion--oscura {
    background-color: rgb(243, 240, 240);
    // height: 900px;
}

.seccion--clara {
    background-color: white;
    // height: 900px;
}

.seccion__titulo {
    @if ($debug==true) {
        border: 1px solid green;
    }
    text-align: center;
    font-size: 50px;
    padding: 50px;
}

.seccion__pie {
    @if ($debug==true) {
        border: 1px solid green;
    }
    margin-top: 120px;
    text-align: center;
    height: 100px;
}

.seccion__contenido {
    @if ($debug==true) {
        border: 1px solid green;
    }
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}