
$size:(xs,2px),(s,10px),(m,15px),(l,20px),(xl,40px);
@each $name,$size in $sizes{


&--padding-#{$name}{
    padding-left: $size;
}
&--padding-vertical-#{$name}{
    padding-left: $size;
    padding-right: $size;
}

&--padding-horizontal-#{$name}{
    padding-top: $size;
    padding-bottom: $size;
}
}