.l-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.l-columns--2columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // column-gap: 30px;
    // row-gap: 60px;
}

.l-columns--3columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.l-columns__area {
    @if ($debug==true) {
        border: 2px solid green;
    }
}


//apuntes//
// for(){
//     .&--s-#{$i}.l-columns{
//         @media (max-width:600px){
//             grid-template-colums:repeat(2,1fr) ;
//         }
//     }
// }

// .l-columns--2columns {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     @media(max-width: 600px){
//         grid-template-columns: repeat(2, 1fr);
//     }
// en html le decimos las columnas que queremos segun el tamaño de pantalla
// class=".l-columns
//         .l-columns--s-1-columns
//         .l-columns--m-4-columns
//         .l-columns--l-8-columns"



}






