.l-noticias {
  @if ($debug==true){
    border: 1px solid green;
}
   
    display: grid;
    grid-template-areas: "izquierda arriba-derecha arriba-derecha" 
                          "izquierda abajo-centro abajo-derecha";
                          grid-column-gap: 25px;
    grid-row-gap: 25px;
    // margin: 10px;
}
.l-noticias__abajo-centro {
    grid-area: abajo-centro;
  }
  .l-noticias__abajo-derecha {
    grid-area: abajo-derecha;
  }
  .l-noticias__arriba-derecha {
    grid-area: arriba-derecha;
  }
  .l-noticias__izquierda {
    grid-area: izquierda;
  }