.l-puzzle {
    @if ($debugNoticia==true) {
        border: 1px solid green;
    }
    display: grid;
    grid-template-areas: "izquierda arriba-derecha arriba-derecha" "izquierda abajo-centro abajo-derecha";
    grid-column-gap: 50px;
    grid-row-gap: 35px;
    grid-template-columns: 288px 288px 280px;
   
    // margin: 10px;
}

.l-puzzle__abajo-centro {
    grid-area: abajo-centro;
}

.l-puzzle__abajo-derecha {
    grid-area: abajo-derecha;
}

.l-puzzle__arriba-derecha {
    grid-area: arriba-derecha;
}

.l-puzzle__izquierda {
    grid-area: izquierda;
}
@media (max-width:700px){
    .l-puzzle--movil-1columna{
        grid-template-columns: 288px;
        grid-template-areas: "izquierda";
        justify-content: center;
     
    }
    .l-puzzle__abajo-centro {
        display: none;
    }
    
    .l-puzzle__abajo-derecha {
        display: none;
    }
    
    .l-puzzle__arriba-derecha {
        display: none;
    }  
}